.lostPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: skyblue;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
  }
  
  .lostPasswordTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .lostPasswordForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }
  
  .formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .formLabel {
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
  }
  
  .iconContainer {
    position: relative;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  .formInput {
    padding: 10px 10px 10px 40px; 
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .formInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .lostPasswordBtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 20px;
    color: rgb(65, 62, 62);
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
  }
  
  .lostPasswordBtn:hover {
    box-shadow: 0 0 5px 1px #555;
  }
  
  .returnBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: skyblue;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 20px;
    color: rgb(65, 62, 62);
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
  }
  
  .returnBtn:hover {
    box-shadow: 0 0 5px 1px #555;
  }
  