.Header {
  background-color: skyblue;
  color: rgb(24, 3, 96);
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.headerListItem.active {
  border: 3px solid #333;
  padding: 10px;
  border-radius: 20px;
}

.headerListItem:hover {
  outline: none;
  box-shadow: 0 0 5px 1px grey;
}


.headerTitle {
  font-size: 2.5rem;
  color: #333;
  margin: 20px 0;
}

.headerDesc {
  font-size: 1.3rem;
  color: #555;
  margin: 10px 0 20px;
}

.headerBtn {
  background-color: transparent;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 20px;
  color: rgb(65, 62, 62);
  cursor: pointer;
  transition: box-shadow 0.3s ease; 
}

.headerBtn:hover {
  box-shadow: 0 0 5px 1px #555;
}

.headerBtn2 {
  background-color: skyblue;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 20px;
  color: rgb(65, 62, 62);
  cursor: pointer;
  transition: box-shadow 0.3s ease; 
}

.headerBtn2:hover {
  box-shadow: 0 0 5px 1px #555;
}

.headerSearch {
  height: 30px;
  border: 3px solid #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-radius: 20px;
  position: absolute;
  bottom: 25px;
  width: 60%;
  background-color: white;
}

.headerIcon {
  color: #555;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  font-size: 16px;
  color: #555;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}